name: Generate App Icons

on:
  workflow_dispatch:
  push:
    paths:
      - assets/icons/app_icon.png
      - pubspec.yaml

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: stable

      - name: Install dependencies
        run: flutter pub get

      - name: Generate app icons
        run: flutter pub run flutter_launcher_icons

      - name: Commit generated icons
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"
          git add android ios
          git commit -m "Update app launcher icons" || echo "No changes"
          git push
